{{- $cfg := site.Params.analytics.plausible -}}
{{- if $cfg -}}
  {{- $script := default "https://plausible.io/js/script.js" $cfg.scriptURI -}}
  {{- if $cfg.hashedScript -}}
    <script defer data-domain="{{ $cfg.domain }}"{{ with $cfg.apiURI }} data-api="{{ . | safeHTMLAttr }}"{{ end }} src="{{ $script | safeURL }}"></script>
  {{- else if $cfg.domain -}}
    <script defer data-domain="{{ $cfg.domain }}"{{ with $cfg.apiURI }} data-api="{{ . | safeHTMLAttr }}"{{ end }} src="{{ $script | safeURL }}"></script>
  {{- end -}}
{{- end -}}
